/* Font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

/* Color */
:root{
    --primary: #1a253f;
    --dark: #151a33;
    --secondary: #2b55cc;
    --info: #4d79f6;
    --ternary: #848db3;
    --pure: #eff2f9;
    --fade: #7081b9;
    --mild: #8997bd;
    --footer: #212a4a;
    --black: #060b1b;
    --twitter: #4ac7ec;
    --dribble: #ff5da0;
    --success: #1ecab8;
    --danger: #f1646c;
    --dark-blue: #28365f;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--dark);
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    line-height: 1;
}

nav{
    background: var(--primary);
    padding: 2vw 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* .container{
    max-width: 1140px;
    margin: 0, auto;
} */


nav .logo{
    text-transform: uppercase;
    color: var(--pre);
    font-size: 2vw;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 2vw;
}

nav .logo i{
    color: var(--info);
}

nav button{
    background: var(--secondary);
    border: none;
    padding: 1vw 2vw;
    border-radius: 2vw;
}